---
import "../styles/global.css";

import { Image } from "@astrojs/image/components";
import youCanDoAnything from "../../public/you-can-do-anything.png";

const menuItems = [
    "About",
    "Story",
    "Pricing",
    "Join",
    "Contributors",
    "Contact",
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Aroreretini Study Space</title>
        <!-- Primary Meta Tags -->
        <title>Aroreretini Study Space — Wellington, Aotearoa</title>
        <meta
            name="title"
            content="Aroreretini Study Space — Wellington, Aotearoa"
        />
        <meta
            name="description"
            content="A web-dev focused study space for neurodivergent folks. Community run & non profit—by the people, for the people."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://aroreretini.community/" />
        <meta
            property="og:title"
            content="Aroreretini Study Space — Wellington, Aotearoa"
        />
        <meta
            property="og:description"
            content="A web-dev focused study space for neurodivergent folks. Community run & non profit—by the people, for the people."
        />
        <meta property="og:image" content="/cover-image.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://aroreretini.community/" />
        <meta
            property="twitter:title"
            content="Aroreretini Study Space — Wellington, Aotearoa"
        />
        <meta
            property="twitter:description"
            content="A web-dev focused study space for neurodivergent folks. Community run & non profit—by the people, for the people."
        />
        <meta property="twitter:image" content="/cover-image.png" />

        <!-- Meta Tags Generated with https://metatags.io -->
    </head>
    <body
        class="bg-orange-100 font-satoshi text-xl font-medium text-stone-800 scroll-smooth"
    >
        <div
            class="px-4 md:px-8 flex flex-col max-w-screen-xl mx-auto items-center"
        >
            <header
                class="flex flex-col md:flex-row gap-8 md:gap-0 items-center justify-center md:justify-between w-full py-8"
            >
                <svg
                    width="162"
                    height="23"
                    viewBox="0 0 162 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M0.484375 22V21.0625L0.828125 21.0312C2.04688 20.875 3.54688 19 4.67188 16.2188L10.7031 1.5H11.9531L19.3594 16.2188C19.9219 17.2812 21.6094 21.2812 24.0469 21.0625L24.0781 22H13.9219V21.0625L14.2656 21.0312C14.7656 20.9688 15.0156 20.5625 15.0156 19.875C15.0156 19.0312 14.6406 17.8125 13.9219 16.2812L13.5469 15.5H6.51562L6.23438 16.25C5.82812 17.4062 5.64062 18.375 5.64062 19.1562C5.64062 20.25 6.04688 20.9688 6.82812 21.0312L7.23438 21.0625V21.25C7.26562 21.3438 7.26562 21.4688 7.26562 21.6562V22H0.484375ZM7.01562 14.25H12.9531L9.64062 7.5L7.01562 14.25ZM24.4844 10.0625L30.3594 7.75H31.2656V12.3125C31.8906 10.875 33.1719 8.21875 35.1406 7.875C36.9844 7.5625 37.8281 8.5625 38.1094 10.2188C38.3281 11.5312 37.2031 12.5938 36.4844 12.3438C35.6719 12.0625 34.9219 11.4375 34.0156 11.4375C33.2344 11.4375 32.3594 11.9062 31.2656 13.4688V16.2188C31.2656 19 31.9844 20.875 33.1406 21.0312L33.4844 21.0625C33.4844 21.0625 33.5156 21.2812 33.5156 21.6562V22H24.4844V21.6562C24.4844 21.2812 24.5156 21.0625 24.5156 21.0625L24.7969 21.0312C26.0469 20.875 26.6719 18.8438 26.6719 16C26.6719 12.125 26.4219 11.3125 24.7969 10.5312L24.5156 10.375C24.5156 10.375 24.4844 10.25 24.4844 10.0625ZM46.4531 22.1562C41.4219 22.1562 38.2344 19.3125 38.2344 14.875C38.2344 10.4375 41.4219 7.59375 46.4531 7.59375C51.4219 7.59375 54.6094 10.4375 54.6094 14.875C54.6094 19.3125 51.4219 22.1562 46.4531 22.1562ZM46.4531 8.625C44.4844 8.625 43.2344 11.0625 43.2344 14.875C43.2344 18.6875 44.4844 21.125 46.4531 21.125C48.3906 21.125 49.6406 18.6875 49.6406 14.875C49.6406 11.0625 48.3906 8.625 46.4531 8.625ZM54.7969 10.0625L60.6719 7.75H61.5781V12.3125C62.2031 10.875 63.4844 8.21875 65.4531 7.875C67.2969 7.5625 68.1406 8.5625 68.4219 10.2188C68.6406 11.5312 67.5156 12.5938 66.7969 12.3438C65.9844 12.0625 65.2344 11.4375 64.3281 11.4375C63.5469 11.4375 62.6719 11.9062 61.5781 13.4688V16.2188C61.5781 19 62.2969 20.875 63.4531 21.0312L63.7969 21.0625C63.7969 21.0625 63.8281 21.2812 63.8281 21.6562V22H54.7969V21.6562C54.7969 21.2812 54.8281 21.0625 54.8281 21.0625L55.1094 21.0312C56.3594 20.875 56.9844 18.8438 56.9844 16C56.9844 12.125 56.7344 11.3125 55.1094 10.5312L54.8281 10.375C54.8281 10.375 54.7969 10.25 54.7969 10.0625ZM68.7969 15.5938C68.7969 10.7188 71.9219 7.59375 76.8281 7.59375C80.9219 7.59375 83.5156 10.4688 83.5156 14.9062L73.7656 15.0625C74.2031 17.8438 75.7656 20 79.7031 19.75C80.5781 19.6875 81.8281 18.9688 82.8906 17.4375L83.3906 17.875C81.7656 20.9688 78.4531 22.1562 76.1719 22.1562C71.6719 22.1562 68.7969 19.5938 68.7969 15.5938ZM76.5781 8.875C74.7656 8.875 73.6094 10.9688 73.6719 14.0625H77.4531C80.7031 13.9375 79.8281 8.875 76.5781 8.875ZM84.2344 10.0625L90.1094 7.75H91.0156V12.3125C91.6406 10.875 92.9219 8.21875 94.8906 7.875C96.7344 7.5625 97.5781 8.5625 97.8594 10.2188C98.0781 11.5312 96.9531 12.5938 96.2344 12.3438C95.4219 12.0625 94.6719 11.4375 93.7656 11.4375C92.9844 11.4375 92.1094 11.9062 91.0156 13.4688V16.2188C91.0156 19 91.7344 20.875 92.8906 21.0312L93.2344 21.0625C93.2344 21.0625 93.2656 21.2812 93.2656 21.6562V22H84.2344V21.6562C84.2344 21.2812 84.2656 21.0625 84.2656 21.0625L84.5469 21.0312C85.7969 20.875 86.4219 18.8438 86.4219 16C86.4219 12.125 86.1719 11.3125 84.5469 10.5312L84.2656 10.375C84.2656 10.375 84.2344 10.25 84.2344 10.0625ZM98.2344 15.5938C98.2344 10.7188 101.359 7.59375 106.266 7.59375C110.359 7.59375 112.953 10.4688 112.953 14.9062L103.203 15.0625C103.641 17.8438 105.203 20 109.141 19.75C110.016 19.6875 111.266 18.9688 112.328 17.4375L112.828 17.875C111.203 20.9688 107.891 22.1562 105.609 22.1562C101.109 22.1562 98.2344 19.5938 98.2344 15.5938ZM106.016 8.875C104.203 8.875 103.047 10.9688 103.109 14.0625H106.891C110.141 13.9375 109.266 8.875 106.016 8.875ZM115.078 9.53125H113.203V9.03125C114.766 8.71875 117.078 6.625 119.016 3.6875H119.766V7.75H124.078V9.53125H119.766C119.766 9.53125 119.734 15.6875 119.734 18.4062C119.734 19.7812 120.078 20.125 121.359 20.125C121.953 20.125 123.141 19.7812 124.141 18.375L124.484 18.7812C122.797 21.6875 120.203 22.1562 119.109 22.1562C115.984 22.1562 115.078 21.2188 115.078 17.625V9.53125ZM124.422 21.6562C124.422 21.2812 124.453 21.0625 124.453 21.0625L124.766 21.0312C125.984 20.875 126.672 18.8438 126.672 16.0312C126.672 12.125 126.391 11.3125 124.766 10.5312L124.453 10.375C124.453 10.375 124.422 10.2188 124.422 10.0625L130.359 7.75H131.266V16.2188C131.266 19 132.016 20.875 133.141 21.0312L133.453 21.0625C133.453 21.0625 133.516 21.2812 133.516 21.6562V22H124.422V21.6562ZM126.203 3.0625C126.203 1.53125 127.172 0.5625 128.734 0.5625C130.266 0.5625 131.234 1.53125 131.234 3.0625C131.234 4.59375 130.266 5.5625 128.734 5.5625C127.172 5.5625 126.203 4.59375 126.203 3.0625ZM133.922 21.6562C133.922 21.2812 133.953 21.0625 133.953 21.0625L134.266 21.0312C135.516 20.875 136.172 18.8438 136.172 16C136.172 12.125 135.891 11.3125 134.266 10.5312L133.953 10.375C133.953 10.375 133.922 10.25 133.922 10.0625L139.828 7.75H140.734V9.90625C141.578 8.78125 143.609 7.59375 146.266 7.59375C148.797 7.59375 149.766 9.46875 149.766 12.4062V16.2188C149.766 19 150.484 20.875 151.641 21.0312L151.953 21.0625C151.953 21.0625 151.984 21.2812 151.984 21.6562V22H143.203V21.0625L143.391 21.0312C144.547 20.8438 145.172 19 145.172 16.2188V12.875C145.172 11.3438 144.359 9.53125 143.047 9.53125C142.391 9.53125 141.609 10 140.734 11.1562V16.2188C140.734 19 141.422 20.9062 142.609 21.0312L142.891 21.0625V22H133.922V21.6562ZM152.391 21.6562C152.391 21.2812 152.422 21.0625 152.422 21.0625L152.734 21.0312C153.953 20.875 154.641 18.8438 154.641 16.0312C154.641 12.125 154.359 11.3125 152.734 10.5312L152.422 10.375C152.422 10.375 152.391 10.2188 152.391 10.0625L158.328 7.75H159.234V16.2188C159.234 19 159.984 20.875 161.109 21.0312L161.422 21.0625C161.422 21.0625 161.484 21.2812 161.484 21.6562V22H152.391V21.6562ZM154.172 3.0625C154.172 1.53125 155.141 0.5625 156.703 0.5625C158.234 0.5625 159.203 1.53125 159.203 3.0625C159.203 4.59375 158.234 5.5625 156.703 5.5625C155.141 5.5625 154.172 4.59375 154.172 3.0625Z"
                        fill="#1C1917"></path>
                </svg>
                <nav>
                    <ul class="flex flex-col md:flex-row gap-8">
                        <li
                            class="text-lg font-medium text-center md:text-left"
                        >
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- <a
                href="https://twitch.tv/thecoppinger"
                target="_blank"
                class="flex gap-4 bg-[#9146FF] w-fit px-6 py-4 rounded-3xl font-bold text-white mb-8 md:mb-0 mt-4 outline-4 outline-[#EDCFDD] outline bg-twitch-pattern bg-blend-overlay text-center md:text-left"
            >
                <div class="hidden lg:block">
                    <svg
                        width="25"
                        height="24"
                        viewBox="0 0 25 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M3.04999 0.480011L1.45999 4.71001V20.64H6.73999V23.52H10.295L13.175 20.64H17.495L23.54 14.61V0.480011H3.04999ZM5.77999 2.88001H21.14V13.44L18.26 16.32H12.5L9.61999 19.2V16.32H5.77999V2.88001ZM10.1 6.24001V12.96H12.98V6.24001H10.1ZM14.9 6.24001V12.96H17.78V6.24001H14.9Z"
                            fill="#FFEDD5"></path>
                    </svg>
                </div>
                <p class="text-orange-100">
                    We’re live right now on Twitch doing a 100 hour stream to
                    raise money for the space →
                </p>
            </a> -->
            <main class="flex flex-col gap-32 mb-32">
                <section class="flex flex-col">
                    <div
                        class="flex flex-col gap-4 p-16 border border-stone-700 rounded-xl mt-16"
                    >
                        <h5 class="text-center">Success 🎊</h5>
                        <p class="text-4xl font-glamour text-center">
                            Submission received
                        </p>
                        <p class="max-w-xl text-center">
                            Nice one! We'll be in touch ASAP. How exciting 😄
                        </p>
                    </div>
                </section>
                <section class="flex flex-col">
                    <Image
                        src={youCanDoAnything}
                        width={560}
                        class="self-center md:max-w-xl w-64"
                    />
                </section>
                <footer class="flex flex-col gap-16 items-center">
                    <p class="text-center">
                        made with 💖 from the Trades Hall, Te Aro
                    </p>
                    <svg
                        width="162"
                        height="23"
                        viewBox="0 0 162 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.484375 22V21.0625L0.828125 21.0312C2.04688 20.875 3.54688 19 4.67188 16.2188L10.7031 1.5H11.9531L19.3594 16.2188C19.9219 17.2812 21.6094 21.2812 24.0469 21.0625L24.0781 22H13.9219V21.0625L14.2656 21.0312C14.7656 20.9688 15.0156 20.5625 15.0156 19.875C15.0156 19.0312 14.6406 17.8125 13.9219 16.2812L13.5469 15.5H6.51562L6.23438 16.25C5.82812 17.4062 5.64062 18.375 5.64062 19.1562C5.64062 20.25 6.04688 20.9688 6.82812 21.0312L7.23438 21.0625V21.25C7.26562 21.3438 7.26562 21.4688 7.26562 21.6562V22H0.484375ZM7.01562 14.25H12.9531L9.64062 7.5L7.01562 14.25ZM24.4844 10.0625L30.3594 7.75H31.2656V12.3125C31.8906 10.875 33.1719 8.21875 35.1406 7.875C36.9844 7.5625 37.8281 8.5625 38.1094 10.2188C38.3281 11.5312 37.2031 12.5938 36.4844 12.3438C35.6719 12.0625 34.9219 11.4375 34.0156 11.4375C33.2344 11.4375 32.3594 11.9062 31.2656 13.4688V16.2188C31.2656 19 31.9844 20.875 33.1406 21.0312L33.4844 21.0625C33.4844 21.0625 33.5156 21.2812 33.5156 21.6562V22H24.4844V21.6562C24.4844 21.2812 24.5156 21.0625 24.5156 21.0625L24.7969 21.0312C26.0469 20.875 26.6719 18.8438 26.6719 16C26.6719 12.125 26.4219 11.3125 24.7969 10.5312L24.5156 10.375C24.5156 10.375 24.4844 10.25 24.4844 10.0625ZM46.4531 22.1562C41.4219 22.1562 38.2344 19.3125 38.2344 14.875C38.2344 10.4375 41.4219 7.59375 46.4531 7.59375C51.4219 7.59375 54.6094 10.4375 54.6094 14.875C54.6094 19.3125 51.4219 22.1562 46.4531 22.1562ZM46.4531 8.625C44.4844 8.625 43.2344 11.0625 43.2344 14.875C43.2344 18.6875 44.4844 21.125 46.4531 21.125C48.3906 21.125 49.6406 18.6875 49.6406 14.875C49.6406 11.0625 48.3906 8.625 46.4531 8.625ZM54.7969 10.0625L60.6719 7.75H61.5781V12.3125C62.2031 10.875 63.4844 8.21875 65.4531 7.875C67.2969 7.5625 68.1406 8.5625 68.4219 10.2188C68.6406 11.5312 67.5156 12.5938 66.7969 12.3438C65.9844 12.0625 65.2344 11.4375 64.3281 11.4375C63.5469 11.4375 62.6719 11.9062 61.5781 13.4688V16.2188C61.5781 19 62.2969 20.875 63.4531 21.0312L63.7969 21.0625C63.7969 21.0625 63.8281 21.2812 63.8281 21.6562V22H54.7969V21.6562C54.7969 21.2812 54.8281 21.0625 54.8281 21.0625L55.1094 21.0312C56.3594 20.875 56.9844 18.8438 56.9844 16C56.9844 12.125 56.7344 11.3125 55.1094 10.5312L54.8281 10.375C54.8281 10.375 54.7969 10.25 54.7969 10.0625ZM68.7969 15.5938C68.7969 10.7188 71.9219 7.59375 76.8281 7.59375C80.9219 7.59375 83.5156 10.4688 83.5156 14.9062L73.7656 15.0625C74.2031 17.8438 75.7656 20 79.7031 19.75C80.5781 19.6875 81.8281 18.9688 82.8906 17.4375L83.3906 17.875C81.7656 20.9688 78.4531 22.1562 76.1719 22.1562C71.6719 22.1562 68.7969 19.5938 68.7969 15.5938ZM76.5781 8.875C74.7656 8.875 73.6094 10.9688 73.6719 14.0625H77.4531C80.7031 13.9375 79.8281 8.875 76.5781 8.875ZM84.2344 10.0625L90.1094 7.75H91.0156V12.3125C91.6406 10.875 92.9219 8.21875 94.8906 7.875C96.7344 7.5625 97.5781 8.5625 97.8594 10.2188C98.0781 11.5312 96.9531 12.5938 96.2344 12.3438C95.4219 12.0625 94.6719 11.4375 93.7656 11.4375C92.9844 11.4375 92.1094 11.9062 91.0156 13.4688V16.2188C91.0156 19 91.7344 20.875 92.8906 21.0312L93.2344 21.0625C93.2344 21.0625 93.2656 21.2812 93.2656 21.6562V22H84.2344V21.6562C84.2344 21.2812 84.2656 21.0625 84.2656 21.0625L84.5469 21.0312C85.7969 20.875 86.4219 18.8438 86.4219 16C86.4219 12.125 86.1719 11.3125 84.5469 10.5312L84.2656 10.375C84.2656 10.375 84.2344 10.25 84.2344 10.0625ZM98.2344 15.5938C98.2344 10.7188 101.359 7.59375 106.266 7.59375C110.359 7.59375 112.953 10.4688 112.953 14.9062L103.203 15.0625C103.641 17.8438 105.203 20 109.141 19.75C110.016 19.6875 111.266 18.9688 112.328 17.4375L112.828 17.875C111.203 20.9688 107.891 22.1562 105.609 22.1562C101.109 22.1562 98.2344 19.5938 98.2344 15.5938ZM106.016 8.875C104.203 8.875 103.047 10.9688 103.109 14.0625H106.891C110.141 13.9375 109.266 8.875 106.016 8.875ZM115.078 9.53125H113.203V9.03125C114.766 8.71875 117.078 6.625 119.016 3.6875H119.766V7.75H124.078V9.53125H119.766C119.766 9.53125 119.734 15.6875 119.734 18.4062C119.734 19.7812 120.078 20.125 121.359 20.125C121.953 20.125 123.141 19.7812 124.141 18.375L124.484 18.7812C122.797 21.6875 120.203 22.1562 119.109 22.1562C115.984 22.1562 115.078 21.2188 115.078 17.625V9.53125ZM124.422 21.6562C124.422 21.2812 124.453 21.0625 124.453 21.0625L124.766 21.0312C125.984 20.875 126.672 18.8438 126.672 16.0312C126.672 12.125 126.391 11.3125 124.766 10.5312L124.453 10.375C124.453 10.375 124.422 10.2188 124.422 10.0625L130.359 7.75H131.266V16.2188C131.266 19 132.016 20.875 133.141 21.0312L133.453 21.0625C133.453 21.0625 133.516 21.2812 133.516 21.6562V22H124.422V21.6562ZM126.203 3.0625C126.203 1.53125 127.172 0.5625 128.734 0.5625C130.266 0.5625 131.234 1.53125 131.234 3.0625C131.234 4.59375 130.266 5.5625 128.734 5.5625C127.172 5.5625 126.203 4.59375 126.203 3.0625ZM133.922 21.6562C133.922 21.2812 133.953 21.0625 133.953 21.0625L134.266 21.0312C135.516 20.875 136.172 18.8438 136.172 16C136.172 12.125 135.891 11.3125 134.266 10.5312L133.953 10.375C133.953 10.375 133.922 10.25 133.922 10.0625L139.828 7.75H140.734V9.90625C141.578 8.78125 143.609 7.59375 146.266 7.59375C148.797 7.59375 149.766 9.46875 149.766 12.4062V16.2188C149.766 19 150.484 20.875 151.641 21.0312L151.953 21.0625C151.953 21.0625 151.984 21.2812 151.984 21.6562V22H143.203V21.0625L143.391 21.0312C144.547 20.8438 145.172 19 145.172 16.2188V12.875C145.172 11.3438 144.359 9.53125 143.047 9.53125C142.391 9.53125 141.609 10 140.734 11.1562V16.2188C140.734 19 141.422 20.9062 142.609 21.0312L142.891 21.0625V22H133.922V21.6562ZM152.391 21.6562C152.391 21.2812 152.422 21.0625 152.422 21.0625L152.734 21.0312C153.953 20.875 154.641 18.8438 154.641 16.0312C154.641 12.125 154.359 11.3125 152.734 10.5312L152.422 10.375C152.422 10.375 152.391 10.2188 152.391 10.0625L158.328 7.75H159.234V16.2188C159.234 19 159.984 20.875 161.109 21.0312L161.422 21.0625C161.422 21.0625 161.484 21.2812 161.484 21.6562V22H152.391V21.6562ZM154.172 3.0625C154.172 1.53125 155.141 0.5625 156.703 0.5625C158.234 0.5625 159.203 1.53125 159.203 3.0625C159.203 4.59375 158.234 5.5625 156.703 5.5625C155.141 5.5625 154.172 4.59375 154.172 3.0625Z"
                            fill="#1C1917"></path>
                    </svg>
                </footer>
            </main>
        </div>
    </body>
</html>
